@using EntityFrameworkVsCoreDapperNetFramework.Results
@model IEnumerable<ResultView>

<div style="display:flex">
    <div class="mr-lg-5">Select Single Objects</div>

    <div class="mr-lg-5">Count Products: @ViewBag.CountProducts</div>
    <div>Count Customers: @ViewBag.CountCustomers</div>
</div>
<last-result last-result="@ViewBag.LastResult"></last-result>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dapper</th>
            <th scope="col">Ef 6</th>
            <th scope="col">Ef Core</th>
            <th scope="col">Ef Core AsNoTracking</th>
            <th scope="col">Ef Core AsNoTracking Hard Sql</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(_ => Model)
    </tbody>
</table>



